<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>loginPage</title>
    <link rel="stylesheet" type="text/css" href="/css/loginPage.css">
</head>
<body>

<div class="formLogin">
    <h3 class="title">用户登录</h3>
    <form action="/login" method="post">
        <input name="username" type="text" placeholder="username">
        <br>
        <input name="password" type="password" placeholder="password">
        <br>
        <button type="submit">确定</button>
    </form>
</div>
</body>
</html>